.title {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    background-color: rgb(135, 222, 218);
    padding: 20px;
    border-radius: 20px;
}

b {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    justify-content: center;
    background-color: rgb(228, 55, 55);
    border-radius: 20px;
    padding: 20px;
    color: whitesmoke;
}